
ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
}

ion-content::part(background) {
    background: var(--ion-color-primary);
}

ion-content::part(scroll) {
    color: #fff;
}

.note-detail-container {
    padding: 16px 4px 16px 32px;
}

ion-list {
    background: transparent;
}

 ion-textarea, ion-item {
    --background: transparent;
    --border-color: transparent;
    --color: #fff;
}

.note-detail-container, ion-list, ion-item {
    height: 100%;
}

ion-textarea {
    height: 100vh
}