
ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
}

ion-content::part(background) {
    background: var(--ion-color-primary);
}

ion-content::part(scroll) {
    color: #fff;
}

.note-detail-container {
    padding: 16px 4px 16px 32px;
}

ion-list {
    background: transparent;
}

 ion-textarea, ion-item {
    --background: transparent;
    --border-color: transparent;
    --color: #fff;
}

.note-detail-container, ion-list.textarea-list, ion-item.textarea-container {
    height: 100%;
}

ion-textarea {
    height: 100vh
}

.info-button {
    margin-right: -5px !important;
}

.cancel-button {
    font-size: .8rem;
}

.confirm-button {
    margin-right: 10px;
    font-size: .8rem;
}

.info-on-note {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-modal-item {
    --min-height: 40px;
}