
<ion-header [translucent]="true">
    <ion-toolbar>
      <ng-container *ngIf="noteSelected">
        <ng-container *ngIf="showAllNotes; else showTrashButtonsTemplate">
          <ion-buttons slot="secondary">
            <ion-button (click)="onOpenModal('info')" class="info-button">
              <ion-icon slot="icon-only" name="information-circle-outline" ></ion-icon>
            </ion-button>
            <ion-button (click)="onDeleteNote()">
              <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ng-container>
        <ng-template #showTrashButtonsTemplate>
          <ion-buttons slot="secondary">
            <ion-button class="cancel-button" (click)="onRestoreNote()">restore note</ion-button>
            <ion-button class="confirm-button" color="danger" (click)="onOpenModal('delete')">delete forever</ion-button>
          </ion-buttons>
        </ng-template>
      </ng-container>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="note-detail-container" *ngIf="noteSelected">
        <ion-list class="textarea-list">
          <ion-item class="textarea-container">
            <ion-textarea [value]="noteSelected.fullContent" (ionInput)="onTextAreaChange($event)"></ion-textarea>
          </ion-item>
        </ion-list>
    </div>
      <ion-modal [isOpen]="isInfoModalOpen" class="info-note-modal" (didDismiss)="onCloseModal('info')">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Document</ion-title>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="onCloseModal('info')">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-list *ngIf="noteSelected">
            <ion-item class="info-modal-item"><ion-label class="info-on-note" class="info-on-note"><h2>Created</h2><p>{{noteSelected.created}}</p></ion-label></ion-item>
            <ion-item *ngIf="noteSelected.modified.length > 0" class="info-modal-item"><ion-label class="info-on-note"><h2>Modified</h2><p>{{noteSelected.modified}}</p></ion-label></ion-item>
            <ion-item class="info-modal-item"><ion-label class="info-on-note"><h2>Words</h2><p>{{noteSelected.words}}</p></ion-label></ion-item>
            <ion-item class="info-modal-item"><ion-label class="info-on-note"><h2>Characters</h2><p>{{noteSelected.characters}}</p></ion-label></ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-modal [isOpen]="isConfirmDeleteModalOpen" class="confirm-modal" (didDismiss)="onCloseModal('delete')">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Delete Forever</ion-title>
          </ion-toolbar>
          <p class="ion-padding-horizontal">Do you want to delete this note?</p>
          <ion-toolbar>
            <ion-buttons slot="secondary">
              <ion-button class="cancel-button" (click)="onCloseModal('delete')">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="primary">
              <ion-button color="danger"  class="confirm-button" (click)="onDeleteNoteForever()">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>



