
ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
}

ion-content::part(background) {
    background: var(--ion-color-primary);
}

ion-content::part(scroll) {
    color: #fff;
    border-right: 1px solid #2c3338;;
}

.notes-list-container {
    padding: 16px 4px 16px 0px;
}

.note-container {
    ion-item {
        cursor: pointer;
        --background: transparent;
        --background-hover: #2c3338;
        --background-hover-opacity: .5;
        --border-color: var(--ion-color-step-600, #666666);
        &.item-selected {
            --background: rgba(51, 97, 204, 0.4);
            --border-color: transparent;
            p {
                color: #fff;
            }
        }
        &.previous-of-selected {
            --border-color: transparent;
        }
        h2 {
            color: #fff;
        }
    }
}

.excerpt-container {
    overflow: hidden;
    white-space:nowrap;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}
