
ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
}

ion-content::part(background) {
    background: var(--ion-color-primary);
}

ion-content::part(scroll) {
    color: #fff;
    border-right: 1px solid #2c3338;;
}

.notes-list-container {
    padding: 16px 4px 16px 0px;
}

.note-container {
    ion-item {
        cursor: pointer;
        --background: transparent;
        --background-hover: #2c3338;
        --background-hover-opacity: .5;
        --border-color: var(--ion-color-step-600, #666666);
        &.item-selected {
            --background: rgba(51, 97, 204, 0.4);
            --border-color: transparent;
            p {
                color: #fff;
            }
        }
        &.previous-of-selected {
            --border-color: transparent;
        }
        h2 {
            color: #fff;
        }
    }
}

.excerpt-container {
    overflow: hidden;
    white-space:nowrap;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
}

.no-notes-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-message-container, .no-notes-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8c8f94;
    ion-icon {
        font-size: 2rem;
    }
}

.delete-trash-footer {
    position: absolute;
    bottom: 10px;
    height: 40px;
    width: 100%;
    border-top: 1px solid #2c3338;
    margin-top: 10px;
    .delete-trash-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-top: 5px;
        font-size: .8rem;
        ion-button {
            --color: #84a4f0;
        }
    }
}

.new-note-button {
    margin-right: 5px;
    ion-icon {
        font-size: 1.4rem;
    }
}

