
<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ showAllNotes ? 'All Notes' : 'Trash' }}</ion-title>
      <ion-buttons slot="end" *ngIf="showAllNotes">
        <ion-button (click)="onAddNewNote()" class="new-note-button"><ion-icon slot="icon-only" name="add-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div [class]="(showAllNotes && notesToDisplay.length > 0)|| ( !showAllNotes && trashedNoteToDisplay.length > 0) ? 'notes-list-container' : 'no-notes-container' ">
      <ng-container *ngIf="showAllNotes; else trashNotesTemplate">
        <ng-container *ngIf="notesToDisplay.length > 0; else noNotesTemplate">
          <div class="note-container" *ngFor="let note of notesToDisplay">
            <ion-item [class]="{'item-selected': note.id === noteSelected, 'previous-of-selected': checkPreviousOfSelected(note.id)}" (click)="onSetSelectedNote(note)">
              <ion-label class="excerpt-container">
                <h2> {{note.excerpt}} </h2>
                <p class="overflow-ellipsis"> {{ note.fullContent}} </p>
              </ion-label>
            </ion-item>
        </div>
        </ng-container>
        <ng-template #noNotesTemplate>
          <div class="no-notes-message-container">
            <ion-icon name="clipboard-outline"></ion-icon>
            <p>You have no notes</p>
          </div>
        </ng-template>
      </ng-container>
      <ng-template #trashNotesTemplate>
        <ng-container *ngIf="trashedNoteToDisplay.length > 0; else noTrashedNotesTemplate">
          <div class="note-container" *ngFor="let note of trashedNoteToDisplay">
            <ion-item [class]="{'item-selected': note.id === noteSelected, 'previous-of-selected': checkPreviousOfSelected(note.id)}" (click)="onSetSelectedNote(note)">
              <ion-label class="excerpt-container">
                <h2> {{note.excerpt}} </h2>
                <p class="overflow-ellipsis"> {{note.fullContent}} </p>
              </ion-label>
            </ion-item>
        </div>
        </ng-container>
        <ng-template #noTrashedNotesTemplate>
          <div class="trash-message-container">
            <ion-icon name="trash-outline"></ion-icon>
            <p>Your trash is empty</p>
          </div>
        </ng-template>
      </ng-template>
    </div>
    <div *ngIf="!showAllNotes && trashedNoteToDisplay.length > 0" class="delete-trash-footer">
      <div class="delete-trash-container" ><ion-button (click)="onOpenTrashModal()">Empty Trash</ion-button></div>
    </div>
    <ion-modal [isOpen]="isEmptyTrashModalOpen" class="confirm-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Empty Trash</ion-title>
          </ion-toolbar>
          <p class="ion-padding-horizontal">Are you sure you want to empty the trash?</p>
          <ion-toolbar>
            <ion-buttons slot="secondary">
              <ion-button class="cancel-button" (click)="onCloseTrashModal()">Cancel</ion-button>
            </ion-buttons>
            <ion-buttons slot="primary">
              <ion-button color="danger"  class="confirm-button" (click)="onEmptyTrash()">Confirm</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
  



