
<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ sectionTitle }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="notes-list-container">
      <div class="note-container" *ngFor="let note of notesToDisplay">
          <ion-item [class]="{'item-selected': note.id === noteSelected, 'previous-of-selected': checkPreviousOfSelected(note.id)}" (click)="onSetSelectedNote(note.id)">
            <ion-label>
              <h2> {{note.excerpt}} </h2>
              <p> {{ note.fullContent}} </p>
            </ion-label>
          </ion-item>
      </div>
    </div>
  </ion-content>
  

